{
    "env": {
        "es2021": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "ignorePatterns": ["dist/"],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "rules": {
        "computed-property-spacing": ["always", "warn"],
        "linebreak-style": ["warn", "windows"],
        "max-depth": ["warn", 3],
        "no-unused-private-class-members": "warn",
        "no-use-before-define": "error",
        "object-curly-spacing": ["always", "warn"],
        "operator-linebreak": ["warn", "after"],
        "quotes": ["error", "double"],
        "semi": ["warn", "always"],
        "spaced-comment": ["always", "warn"],
        "indent": ["warn", 4, {
            "offsetTernaryExpressions": true,
            "VariableDeclarator": "first"
        }]
    }
}
